sudo: false

cache:
  directories:
    - $HOME/.nvm
    - $HOME/.npm
    - $HOME/.cocoapods
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

matrix:
  include:

    - language: node_js
      node_js:
        - stable
      script:
        - ls

    - language: android
      jdk: oraclejdk8
      android:
        components:
          - build-tools-28.0.3
          - android-28
      install:
        - nvm install node
        - npm install
      script:
        - yes | keytool -genkey -v -keyalg RSA -storetype pkcs12 -keystore android/app/debug.keystore -storepass android -alias androiddebugkey -keypass android
        - cd android
        - ./gradlew --info --stacktrace assembleRelease
        - cd -

    - language: objective-c
      osx_image: xcode10
      xcode_workspace: ios/Tutorial.xcworkspace
      xcode_scheme: Tutorial
      podfile: ios/Podfile
      install:
        - npm install
        - gem update cocoapods xcodeproj
      script:
        - cd ios
        - pod install
        - cd ..
        - xcodebuild clean build -sdk iphonesimulator -workspace "$TRAVIS_XCODE_WORKSPACE" -scheme "$TRAVIS_XCODE_SCHEME"
