name: CI

on: [push]

jobs:
  run-linter:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
    - run: npm install -g yarn
    - run: yarn install
    - run: yarn run lint || true

  build-android:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
    - run: npm install -g yarn
    - run: yarn install
    - name: keytool android/app/debug.keystore
      run: |
        yes | keytool -genkey -v -keyalg RSA -storetype pkcs12 -keystore android/app/debug.keystore -storepass android -alias androiddebugkey -keypass android
    - name: gradlew assembleRelease
      run: |
        cd android
        ./gradlew --info --stacktrace assembleRelease
        cd -

  build-ios:
    runs-on: macOS-latest    
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
    - run: npm install -g yarn
    - run: yarn install
    - run: gem update cocoapods xcodeproj
    - name: pod install
      run: |
        cd ios
        pod install
        cd ..
    - name: xcodebuild clean build
      run: xcodebuild clean build -sdk iphonesimulator -workspace ios/Tutorial.xcworkspace -scheme Tutorial
